{% extends '__base.html' %}
{% load static %}
{% block navbar-item %}
    <div class="item">
        <img src="{% static request.access_level.member.image_url %}">
    </div>
    <a href="{% url 'members:patient:search-in-dr' %}" class="item">search doctor</a>
    <a href="{% url 'members:patient:dr-in-neighbourhood' %}" class="item">doctors in neighbourhood</a>
    <a class="item" href="{% url 'members:patient:appointment-list' %}">Appointments</a>
    <a href="{% url 'members:logout' %}" class="item">Sign-Out</a>
{% endblock %}

{% block body %}
    <div class="ui main container">
        <h1 class="ui header"></h1>

        <div>
            {% block inline_body %}
            {% endblock %}
        </div>
    </div>

{% endblock %}