# Created by .ignore support plugin (hsz.mobi)
.idea/**
.idea/
**.pyc
/__pycache__/**
db.sqlite3
med_watch/__pycache__/
member/__pycache__/
member/forms/__pycache__/
member/views/__pycache__/
media/*
