# Created by .ignore support plugin (hsz.mobi)
.idea/**
**.pyc
__pycache__/**

*/migrations/**
templates/
med_watch/__pycache__/
member/__pycache__/
member/forms/__pycache__/
member/views/__pycache__/

