{% extends 'base/base_doctor.html' %}

{% load static %}
{% block title %}
    <meta charset="UTF-8">
    Doctor Appointment Requests
{% endblock %}
<script src="{% static 'jquery-3.1.1.min.js' %}" crossorigin="anonymous"></script>
{% block inline_body %}
    {% if message %}

        <div class="ui {% if message == "Appointment Accepted" %}green{% else %} red{% endif %} message">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    <h1>Appointment Requests</h1>
    <table class="ui single line table">
        <thead>
        <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for req in appointment_requests %}
            <tr>
                <td>{{ req.patient.get_name }}</td>
                <td>{{ req.date }}</td>
                <td>{{ req.start_time }}</td>
                <td>
                    {#                    {% if req.acceptable %}#}
                    <div class="ui buttons">
                        <div class="ui button">
                            <form action="accept/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="request_id" value="{{ req.id }}">
                                <input type="submit" class="positive ui button" value="Accept">
                            </form>
                        </div>
                        <div class="or"></div>
                        <div class="ui button">
                            <form action="accept/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="request_id" value="{{ req.id }}">
                                <input type="hidden" name="action" value="reject">
                                <input type="submit" class="negative ui button" value="Reject">

                            </form>
                        </div>
                    </div>

                </td>

                {#                    {% else %}#}
                {#                        <button>#}
                {#                            Time Overlap#}
                {#                        </button>#}
                {#                    {% endif %}#}
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}