{% extends 'base/base_doctor.html' %}

{% load static %}
{% block title %}
    <meta charset="UTF-8">
    Doctor Appointment Requests
{% endblock %}
<script src="{% static 'jquery-3.1.1.min.js' %}" crossorigin="anonymous"></script>
{% block inline_body %}

    {% if message %}
        <div style="border: 1px solid; margin: 5px; background-color: yellow"><h3>{{ message }}</h3></div>
    {% endif %}
    <h1>Appointment Requests</h1>
    <table>
        <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Time</th>
            <th>Accept?</th>
        </tr>
        {% for req in appointment_requests %}
            <tr>
                <td>{{ req.patient.get_name }}</td>
                <td>{{ req.date }}</td>
                <td>{{ req.start_time }}</td>
                <td>
                    {% if req.acceptable %}
                        <form action="accept/">
                            <input type="hidden" name="request_id" value="{{ req.id }}">
                            <input type="submit" value="Accept">
                        </form>
                    {% else %}
                        <button disabled>
                            Time Overlap
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}