{% extends "base/base_no_navbar.html" %}
{% block body %}
    <div>
        <h5></h5>

        <h2 class="ui teal image header">

            <div class="content">
                Doctor Join
            </div>
        </h2>
        <form class="ui form" enctype="multipart/form-data" action="" method="post" novalidate
              autocomplete="off">
            {% csrf_token %}

            <div class="ui stacked segment">
                <div class="fields">
                    <div class="eight wide field">
                        <label>First Name</label>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            {% for error in form.first_name.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="eight wide field">
                        <label>Last Name</label>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            {% for error in form.last_name.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="six wide field">
                        <label>National Id</label>
                        {{ form.national_id }}
                        {% for error in form.national_id.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Degree</label>
                        {{ form.degree }}
                    </div>
                    <div class="ten wide field">
                        <label>University</label>
                        {{ form.university }}
                        {% if form.university.errors %}
                            {% for error in form.university.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="four wide field">
                        <label>Graduate Year</label>
                        {{ form.graduate_year }}
                        {% if form.graduate_year.errors %}
                            {% for error in form.graduate_year.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Username</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="field">
                        <label>Email</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>PassWord</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="field">
                        <label>RePassword</label>
                        {{ form.re_password }}
                        {% if form.re_password.errors %}
                            {% for error in form.re_password.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <label>Address</label>
                    {{ form.address }}

                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Profile Picture</label>
                        {{ form.profile_picture }}
                    </div>
                    <div class="field">
                        <label>Contraction upload</label>
                        {{ form.contraction }}
                    </div>
                    <div class="field">
                        <label>Contraction download</label>

                        <button class="ui button active"><i class="download icon"></i>
                            <a id="download" value="download" href="../contract-download"> download </a>
                        </button>
                    </div>
                </div>
                <input type="submit" id="dr-join" class="ui fluid teal submit button" value="Join">
            </div>
            <div class="ui error message"></div>
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
        </form>
    </div>

{% endblock %}