{% extends "__base_no_navbar.html" %}
{% block body %}
    <div>
        <h5></h5>

        <h2 class="ui teal image header">
            <img src="assets/images/logo.png" class="image">

            <div class="content">
                join
            </div>
        </h2>
        <form class="ui form" enctype="multipart/form-data" action="" method="post" novalidate
              autocomplete="off">
            {% csrf_token %}

            <div class="ui stacked segment">
                <div class="fields">
                    <div class="eight wide field">
                        <label>First Name</label>
                        {{ form.first_name }}
                    </div>
                    <div class="eight wide field">
                        <label>Last Name</label>
                        {{ form.last_name }}
                    </div>
                    <div class="six wide field">
                        <label>National Id</label>
                        {{ form.national_id }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Degree</label>
                        {{ form.degree }}
                    </div>
                    <div class="ten wide field">
                        <label>University</label>
                        {{ form.university }}
                    </div>

                    <div class="four wide field">
                        <label>Graduate Year</label>
                        {{ form.graduate_year }}
                    </div>

                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Username</label>
                        {{ form.username }}
                    </div>
                    <div class="field">
                        <label>Email</label>
                        {{ form.email }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>PassWord</label>
                        {{ form.password }}
                    </div>
                    <div class="field">
                        <label>RePassword</label>
                        {{ form.re_password }}
                    </div>
                </div>

                <div class="field">
                    <label>Profile Picture</label>
                    {{ form.profile_picture }}
                </div>
                <input type="submit" class="ui fluid teal submit button" value="Join">
            </div>
            <div class="ui error message"></div>
        </form>
    </div>

{% endblock %}