{% extends '__base_member.html' %}
{% block title %}
    search in doctors
{% endblock %}
{% block body %}
    <div class="ui stacked segment">

        <form class="ui form" action="" method="post" novalidate>
            {% csrf_token %}
            <div class="two fields">

                <input name="name_search" type="text" placeholder="search in doctors' name"
                       style="height: 40px; width: 70%; background-color: azure; margin: 5px;border-radius: 5px"> </input>
                <input name="address_search" type="text" placeholder="search in address"
                       style="height: 40px; width: 70%; background-color: azure; margin: 5px;border-radius: 5px"> </input>
                {#        <input name="degree_search" type="" value="search"#}
                {#               style="height: 40px; width: 55px; margin: 5px; background-color: cadetblue;border-radius: 5px;cursor: pointer"> </input>#}
                <input name="search_bottom" type="submit" value="search"
                       style="height: 40px; width: 55px; margin: 5px; background-color: cadetblue;border-radius: 5px;cursor: pointer"> </input>
            </div>
        </form>
        <div name="search_result" style="overflow: auto;margin: 5px; height: 60px; border: groove; height: 40%">
            {% for d in result_doctors %}
                <div>
                    <div> {{ d.first_name }} - {{ d.last_name }}</div>
                </div>
            {% endfor %}
            end
        </div>
    </div>
{% endblock %}