{% extends 'base/base_member.html' %}
{% block inline_body %}
    <div class="ui middle aligned divided list ">
        <div class="item">
            <a class="ui tiny image">
                <img src="{{ object.doctor.image_url }}">
            </a>

            <div class="content">
                <a class="header">{{ object.doctor.get_name }}</a>

                <div class="description">
                    <p>{{ object.date }}-{{ object.id }}-{{ object.doctor.address }}address.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <form class="ui form" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Doctor</label>
            {{ form.doctor }}
        </div>
        <div class="field">
            <label>Date</label>
            {{ form.date }}
        </div>
        {% if request.access_level.is_agent %}
            <div class="field">
                <label>Time</label>
                {{ form.start_time }}
            </div>
        {% endif %}
        <button type="submit" class="ui primary button">
            Save
        </button>
        {% if request.access_level.is_agent %}
            <a href="{% url 'members:agent:appointment-list' %}" class="ui button">
        {% else %}
            <a href="{% url 'members:patient:appointment-list' %}" class="ui button">
        {% endif %}
        Discard
        </a>
    </form>
{% endblock %}