{% extends '__base_member.html' %}
{% block body %}
    <div class="ui middle aligned divided list ">
        <div class="item">
            <a class="ui tiny image">
                <img src="{{ object.doctor.image_url }}">
            </a>

            <div class="content">
                <a class="header">{{ object.doctor.get_name }}</a>

                <div class="description">
                    <p>{{ object.date }}-{{ object.id }}-{{ object.doctor.address }}address.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <form class="ui form">

        <div class="field">
            <label>Doctor</label>
            {{ form.doctor }}
        </div>
        <div class="field">
            <label>Date</label>
            {{ form.date }}
        </div>
        <button type="submit" class="ui primary button">
            Save
        </button>
        <a href="{% url 'members:patient:appointment-list' %}" class="ui button">
            Discard
        </a>
    </form>
{% endblock %}