{% extends 'base/base_doctor.html' %}}
{% load static %}
{% block title %}
    <meta charset="UTF-8">
    Edit Doctor Profile
{% endblock %}
{% block body %}
    <div class="ui horizontal divider">
        Edit Profile
    </div>
    <div class="ui text container">
        <form class="ui form" id="edit-prof-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="">
                {{ form.as_table }}
            </table>
            <input class="ui teal button" id="save-btn" type="submit" value="Save" style="cursor: pointer;">

            {{ requst.user.user }}
        </form>
    </div>

{% endblock %}